* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: monospace, serif;
  font-size: 2rem;
}

textarea {
  font-size: 1.5rem;
}

.text,
#input-field {
  color: white;
}

/* Layout */
body {
  background-color: #297373;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.typing-game-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  min-width: 30rem;
  max-width: 40rem;
  min-height: 20rem;
}

footer {
  position: fixed;
  bottom: 0.5rem;
  right: 2rem;
  font-size: 1rem;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

/* Components */
.typing-game-div,
#input-field,
nav li {
  border: #e9d758 solid 5px;
  border-radius: 1.3rem;
  padding: 1rem;
}
.text,
#input-field {
  padding: 1rem;
  min-height: 8rem;
  width: 90%;
}
nav {
  position: fixed;
  top: 1rem;
  right: 2rem;
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav li {
  list-style: none;
  color: white;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
}

nav li:hover,
nav li:hover select {
  background-color: #e9d758;
  color: #297373;
}

select {
  background-color: #297373;
  font-size: 2rem;
  width: 10rem;
  color: white;
  border: none;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
}

option {
  margin-top: 1rem;
  padding: 2rem;
}

.hidden {
  text-align: center;
  padding: 0.5rem;
}

.hidden:hover {
  color: white;
}

.hidden:active {
  color: #297373;
}

#input-field {
  background-color: transparent;
  resize: none;
}

#input-field:focus {
  outline: #ff8552 solid 5px;
  border: none;
}

::-webkit-scrollbar {
  width: 5px;
}

.correct {
  color: #18db4c;
}

.incorrect {
  color: #8c1c13;
}

.animationImg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}


