* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: monospace, serif;
  font-size: 2rem;
}

textarea {
  font-size: 1.5rem;
}

.text,
#input-field {
  color: white;
}

/* Layout */
body {
  background-color: #297373;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.typing-game-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  min-width: 30rem;
  max-width: 40rem;
  min-height: 20rem;
}

.typing-game-div,
#input-field,
nav li {
  border: #e9d758 solid 5px;
  border-radius: 1.3rem;
  padding: 1rem;
}
.text,
#input-field {
  padding: 1rem;
  min-height: 8rem;
  width: 90%;
}

/* Components */
nav {
  position: fixed;
  top: 1rem;
  right: 2rem;
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav li {
  list-style: none;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

nav li:hover {
  background-color: #e9d758;
  color: #297373;
}

.nav-accordion {
  display: none;
}

.nav-label {
  display: block;
  text-align: center;
  display: block;
  margin-bottom: 0.5rem;
  padding: 0.1rem 0.2rem;
}

.nav-content {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.nav-accordion:checked + .nav-label + .nav-content {
  height: 6rem;
  opacity: 1;
  visibility: visible;
}

.hidden {
  text-align: center;
  padding: 0.5rem;
}

.hidden:hover {
  color: white;
}

#input-field {
  background-color: transparent;
  resize: none;
}

#input-field:focus {
  outline: #ff8552 solid 5px;
  border: none;
}

::-webkit-scrollbar {
  width: 5px;
}

.correct {
  color: #18db4c;
}

.incorrect {
  color: #8c1c13;
}
